@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
    width: 100%;
    font-family: 'Ubuntu', Arial, sans-serif;
}

body {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    font-size: 50px;
    color: #0D1E49;
}

section.form {
    padding: 1rem;
}

form[name="addTodo"] {
    display: flex;
    font-size: 50px;
    background: transparent;
    color: #0D1E49;
    padding: 20px;
    border: 1px solid #d8dfe3;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #0D1E49;
    margin-bottom: 50px;
}

input[type="text"] {
    flex: 1;
    margin-left: 10px;
    border-radius: 7px;
    background: #f1f1f1;
}

input[type="submit"] {
    display: flex;
    padding: 10px;
    margin-left: 5px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 3px #202f57;
    font-weight: lighter;
    background-color: #ebf2ff;
}

input[type="submit"]:active {
    box-shadow: 0 0 #202f57;
    top: 3px;
}


form[name="addTodo"]>input,
form[name="addTodo"]>label {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 540px) {
	form[name="addTodo"] {
		flex-direction: column;
	}		
}

section.todos {
    display: flex;
    flex-direction: column;
}

article {
    background-color: #CDD2DE;
    margin: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 1rem;
    box-shadow: 5px 5px 5px #0D1E49;
    border-radius: 10px;
    transition: all .4s;
}

article:hover {
    box-shadow: none;
    cursor: pointer;
    transform: translateY(15px);
}

article.done>span {
    color:#505a74;
    text-decoration: line-through;
    font-style: italic;
}

article{
 -moz-user-select: none; /* Firefox */
 -webkit-user-select: none; /* Chrome, Safari, OpĆ©ra depuis la version 15 */
 -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
 user-select: none; /* Propriete standard */
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    transition-duration: 0.8s;
    background:#a5bcdd;
}

.btn:hover {
    background-color: #3e5777;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
    0 17px 50px 0 rgba(0,0,0,0.19);
}

.hidden {
    display: none;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.spinner {
    width: 50px;
    margin: auto;
}